<!-- Comments section -->
<section class="comments-section modal-content">
    <h3>Comments:</h3>
    <span *ngIf="getShowFancyText()" class="comment-text">This is a fancy text</span>
    <div class="list-of-comments" *ngFor="let comment of comments">
        <div class="comment-div">
            <span class="comment-text">{{comment.comment}}</span>
            <span class="timestamp">{{comment.userName}} - {{comment.createdDate}}</span>
        </div>
    </div>
    <div class="add-comment-button-div">
        <button class="button-1" (click)="addComment()" >Add Comment</button>
    </div>
</section>

<!-- Add Comment section -->
<section class="new-comments-section modal-content">
    <div class="modal-content-header-div">
        <h3>Add Comment</h3>
        <div class="x-symbol">
            &#x2715;
        </div>
    </div>
    <div class="enter-text-div">
        <p class="comment-text"> Please enter what you would like to say</p>
        <!--
        <textarea name="new-comment" id="new-comment-text-area" cols="30" rows="10" (keyup)="listenCommentInput($event)" [value]="newCommentValue"></textarea>
        -->
        <!-- NEW custom text area -->
        <div class="text-box-div" id="new-comment-text-box-div" contenteditable (keyup)="listenCommentInput($event)" [textContent]="newCommentValue"></div>
    </div>

    
    



    <div class="footer-flexbox">
        <div class="tooltip">
            <div class="mention-symbol" id="mention-symbol" (click)="addMentionSymbol()">&#x40;</div>
            <span class="tooltiptext comment-text">
                Mention someone
            </span>
        </div>
        <div class="add-new-comment-button-div">
            <button class="button-2" (click)="listenSubmitButton()">Submit</button>
            <button class="button-1">Cancel</button>
        </div>
    </div>
    
</section>
