.button-1 {
    background-color: $button-color-1;
    color: $text-color;
    font-family: $text-font;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 2px 3px #00000029, 0 1px 2px #0000003b;
    border-width: 0px;
    width: 150px;
    margin-top: 15px;
    transition: background-color .3s;
}

.button-1:hover {
    background-color: $button-color-1-on-hover;
    cursor: pointer;
}

.button-2 {
    background-color: $button-color-2;
    color: $background-color;
    font-family: $text-font;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 2px 3px #00000029, 0 1px 2px #0000003b;
    border-width: 0px;
    width: 150px;
    margin-top: 15px;
    transition: background-color .3s;
}

.button-2:hover {
    background-color: $button-color-2-on-hover;
    cursor: pointer;
}