.text-box-div {
    font-family: $text-font;
    margin-top: 20px;
    margin-top: 10px;
    width:95%;
    min-height: 150px;
    border: 1px solid #ddd;
    transition: border-color .5s;
    outline: none; // Remove the outline
    resize: none; // Remove the resize handle
    overflow: auto; // Remove default scroll bars in Internet Explorer
    // Add the necessary indentation
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    // When the screen is large
    @include breakpoint(medium) {
        width: 98%;
      }
}

.text-box-div:focus {
    border-color: #419b1f;
}
