.user-list-div {
    border: 1px solid $timestamp-color;
    max-width: 300px;
    max-height: 100px;
    overflow: hidden;
    overflow-y: auto; // Add a scrollbar 
    font-family: $text-font;
    /*
    position: relative;
    left: 50%;
    //top: -50%;
    z-index: -1;
    transform: translate3d(0px, -30px, 0px);
    */
}

.list-of-users {
    list-style-type: none;
    
}

.user-item {
    padding: .5em;
}

.user-item:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.mentioned-username {
    //background-color: #f1f1f1;
    font-weight: bold;
    color: #588ed3;
}