/* You can add global styles to this file, and also import other style files */


/*** COLORS ***/
$button-color-1: #e6e7e8;
$button-color-1-on-hover: #dbddde;
$button-color-2-on-hover: #4aaf25;
$text-color: #353535;
$button-color-2: #419b1f;
$background-color: #ffffff;
$timestamp-color: #909090;
$header-color: #1f1f1f;

/*** Fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$text-font: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
$header-font: 'Open Sans', sans-serif;

// Breakpoints
$break-large: 1700px;
$break-medium: 950px;
$break-small: 510px;


/* Get rid of the margin */ 
* {
    margin: 0;
    padding: 0;
}

// Import the partials
@import "./partials/layout-mixins";
@import "./partials/header";
@import "./partials/responsive-image";
@import "./partials/content";
@import "./partials/buttons";
@import "./partials/text-box-div";
@import "./partials/user-list-div";

html {
    background-color: #f1f1f1;
}



h3 {
    color: $text-color;
    font-family: $header-font;
}

.comment-text {
    color: $text-color;
    font-family: $text-font;
}

.timestamp {
    color: $timestamp-color;
    font-family: $text-font;
}

.comment-div {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $timestamp-color;
}

textarea {
    font-family: $text-font;
}
